<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- <bean/> 정의는 여기에 작성한다 -->
    <bean id="connectionMaker" class="com.example.MyATDD.domain.DConnectionMaker"></bean>

    <bean id="userDao" class="com.example.MyATDD.dao.UserDao">
        <property name="connectionMaker" ref="connectionMaker"></property>
    </bean>
</beans>